{
    "logs": { "perMutator": "php://stderr" },
    "minCoveredMsi": 80,
    "minMsi": 10,
    "mutators": { "@default": true },
    "source": { "directories": [ "src" ] },
    "testFramework": "phpunit"
}
