{
    "logs": {
        "text": "infection.diff",
        "perMutator": "php://stderr"
    },
    "minCoveredMsi": 76,
    "minMsi": 7.74,
    "mutators": { "@default": true },
    "source": { "directories": [ "src" ] },
    "testFramework": "phpunit"
}
