<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="./vendor/autoload.php"
        colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix=".phpt">./tests/functional</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <ini name="zend.assertions" value="1"/>
    </php>
</phpunit>
