name: Run CI

on: [push, pull_request]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ['7.4']
        dependencies: ['normal', 'authoritative']

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      if: matrix.dependencies == 'normal'
      run: composer install --prefer-dist
      env:
        COMPOSER_ROOT_VERSION: dev-master

    - name: Install dependencies
      if: matrix.dependencies == 'authoritative'
      run: composer install --prefer-dist --classmap-authoritative
      env:
        COMPOSER_ROOT_VERSION: dev-master

    - name: Run Psalm
      run: ./vendor/bin/psalm --threads=2 --output-format=github --shepherd

    - name: Run Phpunit
      run: ./vendor/bin/phpunit

    - name: Run PhpCs
      run: ./vendor/bin/phpcs
